html
  head
    title 드라마 정주행 소요시간 계산기
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/css.css')
    script(type='text/javascript', src='/js/jquery-3.0.0.js')
    script(type='text/javascript', src='/js/index.js')
  body
    div
      div.total_time
      form(action='/search' method='get')     
        input#search_title(type='text' name='search_title' placeholder='검색할 드라마 제목을 입력하세요')
        select#select_season
        input(type='button' id='search' value='검색' class='btn')
      ul.drama_list
      ul.added_drama_list

